crm-interface-thirdlib/src/main/resources/FIN/EASLogin.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://recompense.workflow.fin.deppon.com/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://recompense.workflow.fin.deppon.com/"
	xmlns:intf="http://recompense.workflow.fin.deppon.com/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:client"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- WSDL created by Apache Axis version: #axisVersion# Built on #today# -->
	<wsdl:types>
		<schema targetNamespace="urn:client" xmlns="http://www.w3.org/2001/XMLSchema">
			<!-- 
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			-->
			<complexType name="WSContext">
				<sequence>
					<element name="dbType" type="xsd:int" />
					<element name="dcName" nillable="true" type="xsd:string" />
					<element name="password" nillable="true" type="xsd:string" />
					<element name="sessionId" nillable="true" type="xsd:string" />
					<element name="slnName" nillable="true" type="xsd:string" />
					<element name="userName" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="loginResponse1">
		<wsdl:part name="loginReturn" type="tns1:WSContext" />
	</wsdl:message>
	<wsdl:message name="loginRequest">
		<wsdl:part name="userName" type="xsd:string" />
		<wsdl:part name="password" type="xsd:string" />
		<wsdl:part name="slnName" type="xsd:string" />
		<wsdl:part name="dcName" type="xsd:string" />
		<wsdl:part name="language" type="xsd:string" />
		<wsdl:part name="dbType" type="xsd:int" />
		<wsdl:part name="authPattern" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part name="loginReturn" type="tns1:WSContext" />
	</wsdl:message>
	<wsdl:message name="loginRequest1">
		<wsdl:part name="userName" type="xsd:string" />
		<wsdl:part name="password" type="xsd:string" />
		<wsdl:part name="slnName" type="xsd:string" />
		<wsdl:part name="dcName" type="xsd:string" />
		<wsdl:part name="language" type="xsd:string" />
		<wsdl:part name="dbType" type="xsd:int" />
	</wsdl:message>
	<wsdl:portType name="EASLoginProxy">
		<wsdl:operation name="login"
			parameterOrder="userName password slnName dcName language dbType authPattern">
			<wsdl:input message="impl:loginRequest" name="loginRequest" />
			<wsdl:output message="impl:loginResponse" name="loginResponse" />
		</wsdl:operation>
		<wsdl:operation name="login1"
			parameterOrder="userName password slnName dcName language dbType">
			<wsdl:input message="impl:loginRequest1" name="loginRequest1" />
			<wsdl:output message="impl:loginResponse1" name="loginResponse1" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EASLoginSoapBinding" type="impl:EASLoginProxy">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="login">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="loginRequest">
				<!-- 
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://login.webservice.bos.kingdee.com" use="encoded" />
					-->
			</wsdl:input>
			<wsdl:output name="loginResponse">
				<!-- 
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://192.168.14.8:6888/ormrpc/services/EASLogin" use="encoded" />
				 -->
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login1">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="loginRequest1">
				<!-- 
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://login.webservice.bos.kingdee.com" use="encoded" />
					 -->
			</wsdl:input>
			<wsdl:output name="loginResponse1">
			<!-- 
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://192.168.14.8:6888/ormrpc/services/EASLogin" use="encoded" />
			 -->
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EASLoginProxyService">
		<wsdl:port binding="impl:EASLoginSoapBinding" name="EASLogin">
			<wsdlsoap:address location="http://192.168.14.8:6888/ormrpc/services/EASLogin" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>